
Assignment0/.DS_Store
Assignment2/.DS_Store
Assignment2/.ipynb_checkpoints/Assignment2-checkpoint.ipynb
Assignment2/products/.DS_Store
Assignment2/products/conf/.DS_Store
Assignment2/reviews/.DS_Store
Assignment2/reviews/conf/.DS_Store
Assignment2/reviewsite/.DS_Store
Assignment2/reviewsite/__pycache__/forms.cpython-39.pyc
Assignment2/reviewsite/__pycache__/solrinterface.cpython-39.pyc
